services:
    nginx:
        image: nginx:latest
        container_name: nginx
        ports:
            - "8000:80"
        volumes:
            - ./docker/nginx/test/default.conf:/etc/nginx/conf.d/default.conf
            - ./docker/nginx/test/snippets/fastcgi-php.conf:/etc/nginx/snippets/fastcgi-php.conf
        networks:
            - laravel

    php:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: php

        env_file:
            - .env

        volumes:
            - .:/var/www
            - ./docker/nginx/test/php.ini:/usr/local/etc/php/conf.d/custom-php.ini
            - ./docker/nginx/test/php-fpm.conf:/usr/local/etc/php-fpm.d/www.conf

        working_dir: /var/www
        networks:
            - laravel
        expose:
            - 9000
        depends_on:
            - mysql
            - redis

    mysql:
        image: mysql:8.0.33
        container_name: mysql
        environment:
            MYSQL_DATABASE: quote_price
            MYSQL_USER: root
            MYSQL_PASSWORD: root
            MYSQL_ROOT_PASSWORD: root
        volumes:
            - ./dbdata/mysql:/var/lib/mysql
        ports:
            - "3306:3306"
        networks:
            - laravel

    redis:
        image: redis:7.0.7
        container_name: redis
        volumes:
            - ./dbdata/redis:/data
        ports:
            - "6379:6379"
        networks:
            - laravel

networks:
    laravel:
        driver: bridge

volumes:
    dbdata:
